/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}
header{
    background:black;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.by {
  color: darkred;
  text-transform: uppercase;
}
.item-link {
  color: #ca0000;
  text-transform: uppercase;
}
.friendly-time {
  color:black !important;
}
.no-link{
    color:darkgray;
    text-transform:uppercase;
}


